<div class="container chat-container">
  <div class="chatBotTitle">
    <img *ngIf="img == 0" (click)="changeImg()" src="assets/resources/chatbot-basic.png" alt="basic_bot"
      title="Chatbot" style="width:80px;">
    <img *ngIf="img == 1" (click)="changeImg()" src="assets/resources/chatbot-halloween.png" alt="halloween_bot"
      title="Halloween Chatbot" style="width:80px;">
    <img *ngIf="img == 2" (click)="changeImg()" src="assets/resources/chatbot-moustache.png" alt="moustache_bot"
      title="Moustache Chatbot" style="width:80px;">
    <img *ngIf="img == 3" (click)="changeImg()" src="assets/resources/chatbot-nuitdelinfo.png" alt="nuit_de_l_info_bot"
      title="Nuit de l'info Chatbot" style="width:80px;">
    <img *ngIf="img == 4" (click)="changeImg()" src="assets/resources/chatbot-xmas.png" alt="xmas_bot"
      title="Christmas Chatbot" style="width:80px;">
    <h1>Votre chatbot</h1>
  </div>
  <div class="message-list">
    <div style="padding: 2px;" *ngFor="let string of chatbot.getLastTen()">
      {{string}}
    </div>
  </div>

  <div class="message-box">
    <mat-form-field>
      <input [(ngModel)]="
chatbot.currentQuestion" (keydown)="onKeydown($event, chatbot.currentQuestion)"
        matInput placeholder="Posez votre question." value="...">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" (click)="sendMessage(chatbot.currentQuestion)">Envoyer</button>
  </div>

</div>
