<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">MOTH</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/tasks">TASKS</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="#">MANAGE STOCK</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="#">PARAMATERS</a>
      <mat-divider></mat-divider>
      <round-progressbar [title]="'DAYS LEFT'" [current]="'23'" [end]="'100'" [background]="'#FFF968'"
                         [color]="'#26A69A'" [boxcolor]="'#7986CB'"></round-progressbar>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <h1 class="mat-h1">Dashboard</h1>
    </mat-toolbar>
    <app-tasks-list></app-tasks-list>
  </mat-sidenav-content>
</mat-sidenav-container>
