.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  border-right: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-nav-list {
  padding-top: 0px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a:nth-child(1) {
  background: tomato;
}

a:nth-child(2) {
  background: sienna;
}

a:nth-child(3) {
  background: salmon;
}
