div.fixed {
  position: absolute;
  width: 180px;
  height: 180px;
  bottom: 15px;
  margin-left: 9px;
  text-align: center;
}

.circle {
  background-color: rgb(187, 187, 187);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

strong {
  bottom: 0px;
}
